.tools {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-bottom: 5%;
}
.tools img {
  width: 60px;
  height: 60px;
  margin: auto;
}
.skills {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 5px;
}

.skill-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2%;
  width: 20%;
}

.text-container{

  width: 100%;
  margin: 0%;
}

.skill-item {
  display: flex;
  position: relative;
  color: black;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  width: 150px;
  margin: 5%;
  border: solid;
  padding: 5%;
  background-color: aliceblue;
  transition: all 0.5s ease;
}
.skill-item:hover {
  background-color: white;
  transition: all 0.5s ease;
  border-radius: 25%;
}

.react {
  border: solid;
  border-radius: 50%;
  border-color: aqua;
}

.express {
  border: solid;
  border-color: grey;
  border-radius: 50%;
}

.js {
  border: solid;
  border-color: yellow;
  border-radius: 50%;
}
.python {
  border: solid;
  border-left-color: rgb(14, 76, 175);
  border-top-color: rgb(14, 76, 175);
  border-bottom-color: yellow;
  border-right-color: yellow;
  border-radius: 50%;
}
.java {
  border: solid;
  border-color: orangered;
  border-left-color: rgb(14, 76, 175);
  border-right-color: rgb(14, 76, 175);
  border-radius: 50%;
}
.html {
  border: solid;
  border-color: orangered;
  border-radius: 50%;
}
.css {
  border: solid;
  border-color: rgb(14, 76, 175);
  border-radius: 50%;
}
.mongo {
  border: solid;
  border-color: green;
  border-radius: 50%;
}
.node {
  border: solid;
  border-color: greenyellow;
  border-radius: 50%;
}
.sql {
  border: solid;
  border-color: rgb(14, 76, 175);
  border-radius: 50%;
}

@media (max-width: 600px) {
  .skill-item {
    height: 60px;
    width: 60px;
    font-size: 8pt;
  }
  .tools img {
    width: 22px;
    height: 22px;
  }
}

@media (min-width: 601px) {
  .skill-item {
    height: 80px;
    width: 80px;
    font-size: 10pt;
  }
  .tools img {
    width: 25px;
    height: 25px;
  }
}

@media (min-width: 768px) {
  .skill-item {
    height: 110px;
    width: 110px;
    font-size: 10pt;
  }
  .tools img {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 992px) {
  .skill-item {
    height: 80px;
    width: 80px;
    font-size: 14pt;
  }
  .tools img {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 993px) {
  .skill-item{
    height: 150px;
    width: 150px;
    font-size: 16pt;
  }
  .tools img {
    width: 60px;
    height: 60px;
  }
}

